.menu-header div{
  text-align: right;
  padding:16px;
  background-color: #5677fc;
  color: white;
}

 .dish {
  padding-left: 16px;
  padding-right: 16px;
  height: 72px;
}

.dish .dish-left{
  height: 72px;
  padding:16px;
  float: left;
}

.dish .dish-right{
  height: 72px;
  padding: 6px;
  float: right;
  width:72px;
}